pandas
numpy
matplotlib==3.4.3
Django
django-crispy-forms
youtube-transcript-api
moviepy
yt-dlp
pytube
requests
openai-whisper
transformers
sentencepiece
TTS
inflect
ffmpeg-python
pydub
librosa
soundfile
pyrubberband