pandas
numpy
Django
django-crispy-forms
pytube3
youtube-transcript-api
moviepy
pytube
requests
matplotlib==3.4.3
openai-whisper
transformers
sentencepiece
TTS
inflect
ffmpeg-python
pydub
librosa
soundfile
pyrubberband