{% load static %}
<!-- downloader.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Video Processor</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script>
        function showProcessingMessage() {
            const message = document.getElementById("processing-message");
            message.style.display = "block";
        }
    </script>
</head>
<body>

<div class="main-container">
    <div class="container">
        <a class="github-icon" href="https://github.com/Leofierus/foreign-whispers" target="_blank"
           rel="noopener noreferrer" title="GitHub">
            <img src="{% static 'github-mark.png' %}" alt="" width="50" height="50"/>
        </a>
        <h1>&nbsp;&nbsp;Translate a YouTube video and embed the translated attributes&nbsp;&nbsp;</h1>
        <a class="project-icon" href="https://pantelis.github.io/artificial-intelligence/aiml-common/projects/nlp/foreign-whispers/index.html"
           target="_blank" rel="noopener noreferrer" title="Project">
            <img src="{% static 'logo.png' %}" alt="" width="50" height="50"/>
        </a>
    </div>

    <div class="body">
        <form method="post" class="download-form" onsubmit="showProcessingMessage()">
            {% csrf_token %}

            <label for="{{ form.video_url.id_for_label }}">Video URL:</label>
            {{ form.video_url }}

            <label for="{{ form.target_language.id_for_label }}">Target Language:</label>
            {{ form.target_language }}

            <button type="submit">Process</button>
        </form>

        <p class="download-form" id="processing-message" style="display: none;">
            It might take 3-7 mins to process your video, please wait...
        </p>
    </div>
</div>

</body>
</html>
